{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "solar-clean-app",
    "storage_bucket": "solar-clean-app.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.haris.solar_clean"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
